%div.container-fluid
  %div.row
    %div.col-md-6.col-md-offset-3
      %h2 Sign up

      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        %div.form-group
          %div.field
            = f.label :email
            %br
            = f.email_field :email, class: "form-control", autofocus: true

        %div.form-group
          %div.field
            = f.label :password
            -if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)

            %br
            = f.password_field :password, class: "form-control", autocomplete: "off"

        %div.form-group
          %div.field
            = f.label :password_confirmation
            %br
            = f.password_field :password_confirmation, class: "form-control", autocomplete: "off"

        %div.actions
          = f.submit "Sign up", class: "btn btn-block btn-primary center-block", style: "width: 80%"
      %br
      %div
        = link_to "Log in", user_session_path, class: "btn btn-info center-block", style: "width: 80%"
