<h1>Listing elections</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th colspan="2"></th>
    </tr>

    <% @elections.each do |election| %>
        <tr>
            <td><%= election.title %></td>
            <td><%= election.body %></td>
            <% if current_user && current_user.id == election.creator_id %>
                <td><%= link_to 'Show', election_result_path(election) %></td>
                <td><%= link_to 'Edit', edit_election_path(election) %></td>
                <td><%= link_to 'Destroy', election_path(election), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
                <% voted = current_user.voted_in?(election) %>

                <% if !voted %>
                    <td><%= link_to 'Vote', election_path(election) %></td>
                <% else %>
                    <td><%= link_to 'Modify Vote', election_path(election) %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table>

<br />
<br />
<%= link_to 'Create a New Election', new_election_path %>
