- content_for :head do
  = javascript_include_tag "/result"

= link_to elections_path do
  %button.btn.btn-default(type="button" aria-label="Left Align")
    %span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      %strong Back

%div{:class => "container"}
  %div.row
    %h2{style: "word-wrap: break-word"}
      = @election.title

    %h3{style: "word-wrap: break-word"}
      %small
        = @election.body
    
  %div{:class => "row"}
    %div{:class => "col-md-6"}
      %table{:class => "table", :id => "choices_table"}
        %thead
          %th 
            Choice:
          %th
            \# of Votes
        - for choice in @choices
          %tr
            %td
              %strong #{choice.body}
            %td
              = pluralize choice.votes.count.to_i, "vote"
    %div{:class => "col-md-1"}
    %div{:class => "col-md-5"}
      %h4
        Leading:
        - if @choices.select{|choice| choice.votes.count != 0}.empty?
          None (No votes have been received)
        - else
          = @choices[0].body
      %table{:class => "table", :id => "stat_table"}
        %tr{:style => "text-align: center"}
          %td.danger{:id => "stat_two_thirds"}
            Two-thirds majority
        %tr{:style => "text-align: center"}
          %td.danger{:id => "stat_three_fifths"}
            Three-fifths majority
        %tr{:style => "text-align: center"}
          %td.danger{:id => "stat_majority"}
            Simple majority
      %br
      %canvas(id="resultGraph" width=200 height=200)

