- content_for :head do
  = javascript_include_tag "/result"

%p
  %strong Title:
  = @election.title

%p
  %strong Text:
  = @election.body

%strong Choices:
%ul
  - for choice in @choices
    %p
      %strong #{choice.body}
      \:
      = pluralize choice.votes.count.to_i, "vote"

%canvas(id="resultGraph" width=200 height=200)

= link_to 'Back', elections_path
