<p>
    <strong>Title:</strong>
    <%= @election.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @election.body %>
</p>

<strong>Choices:</strong>
<ul>
    <% for choice in @election.choices %>
        <% if current_user && current_user == @election.creator %>
            <p>
                <%= choice.body %>: <%= pluralize choice.votes.count, "vote" %>
            </p>
        <% elsif current_user %>
            <% vote = choice.vote_for(current_user) %>
            <p>
                <%= choice.body %>
                <% unless vote.present? %>
                    | <%= link_to "Vote for this!", votes_path(choice_id: choice.id), method: :post %>
                <% else %>
                    | <%= link_to "Cancel vote", vote_path(vote), method: :delete %>
                <% end %>
            </p>
        <% end %>
    <% end %>
</ul>

<%= link_to 'Back', elections_path %>
